@mixin btn {
  padding: 0.85rem 2rem;

  color: $light;
  background: $primary;

  border: none;
  cursor: pointer;
  border-radius: 10px;

  // &:hover {

  // }
}

@mixin form {

}

@mixin display-1 {

}

@mixin display-2 {

}
